<p id="notice"><%= notice %></p>

<p>
  <strong>Titúlo:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Mensaje:</strong>
  <%= @post.body %>
</p>

<h2>Comentarios</h2>
<div id="comments">
  <%= render :partial => @post.comments.reverse %>
</div>

<%= form_for([@post, Comment.new], remote: true) do |f| %>
<p><%= f.label :body, "New Comment"%><br />
  <%= f.text_area :body%>
</p>
<p><%= f.submit "Add Comment"%></p>
<% end %>

<%= link_to 'Editar', edit_post_path(@post) %> |
<%= link_to 'Regresar', posts_path %>
